body {
    margin: auto;
    padding: auto;
    background: url(green-background.jpg) no-repeat;
    background-size: cover;
    background-position: center center;
    width: 100vw;
    height: 100vh;
    font: normal Helvetica, Arial, sans-serif;
}

h1,
h2,
h3 {
    color: #F0FFF0;
}

p,
ul {
    line-height: 1.8em;
}

#title {
    padding: 0%;
    position: fixed;
    width: 100%;
}

#title h1 {
    font-size: 5vw;
    text-align: center;
    line-height: 60%;
    margin: 2%;
    padding: 0%;
}

#title h2 {
    font-size: 2.0vw;
    text-align: center;
    margin: 0%;
    padding: 1%;
    line-height: 40%;
}

#main {
    position: absolute;
}

#main h3 {
    font-size: 6vw;
    text-align: center;
    margin: 0%;
}

#footer {
    clear: both;
    padding: 2% 0;
    position: fixed;
    bottom: 0%;
    margin: 0%;
    width: 100%;
    height: 10%;
}

#canvas {
    position: absolute;
    left: 0;
    top: 0;
}


@media (max-width: 400px) {
    #main {
        top: 15vh;
        left: 10vw;
    }

    #myVideo {
        width: 80vw;
    }

    #title {
        height: 10vh;
    }
    #dh1 {
        height: 30%;
        margin: 3%;
    }
    #dh2 {
        margin: 0%;
        height: 40%;
    }
    #footer {
        border-top: 0.1em dotted #a5e6a5;
    }
    #footer p {
        margin: 0;
        text-align: center;
        font-size: x-small;
        color: rgb(180, 238, 199);
    }
    #footer a {
        color: rgb(180, 238, 199);
    }
}

@media (min-width: 400px) {
    #main {
        top: 25vh;
        left: 15vw;
    }

    #myVideo {
        width: 70vw;
    }

    a {
        color: #114403;
    }
    #title {
        height: 20vh;
    }
    #footer {
        border-top: 0.1em dotted #006600;
    }
    #footer p {
        margin: 0;
        text-align: center;
        font-size: x-small;
        color: black;
    }
    #footer a {
        color: #114403;
    }
}